.main-page {
  height: auto;
  margin: 20px auto auto auto;
  position: relative;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 300px 250px auto;
  grid-column-gap: 10px;
  position: relative;
}

.content-container {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  padding: 10px;
}

.fild-name {
  display: block;
  margin: 5px 0 5px 0;
}

.container-header {
  font-weight: bold;
}

.input-prop {
  width: 185px;
}

/* ------------------------- dropdown menu start--------------------- */

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: rgb(243, 243, 243);
}

.dropdown-content {
  display: none;
  border-style: solid;
  border-color: rgb(173, 173, 173);
  border-radius: 4px;
  width: 190px;
  border-width: 1px;
}

.dropdown-content div {
  padding: 3px 3px;
  font-size: 13px;
}

#direction {
  margin-top: 4px;
  width: 194px;
  height: 22px;
}

#pathShape {
  margin-top: 4px;
  width: 194px;
  height: 22px;
}

/* ------------------------- dropdown menu end --------------------- */

.json-pretty {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.json-string {
  color: #6caedd;
}

.json-key {
  color: #ec5f67;
}

.json-boolean {
  color: #99c794;
}

.json-number {
  color: #99c794;
}

/* ------------------------- json-pretty end--------------------- */