.main-page {
  position: relative;
  max-width: 1170px;
  height: auto;
  display: flex;
}

.tree-container {
  position: relative;
  max-width: 1000px;
  height: 300px;
  border-color: blue;
  border-style: dashed;
}
